*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  width: 210mm;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
article{
  height: 297mm;
  width: 210mm;
  padding: 25mm 20mm;
  display: flex;
  flex-direction: column;
}
input{
  background-color: transparent;
}